@import "tailwindcss";

@theme {
  --color-back: #242424;
  --color-grow: #bbb;
  --color-primary: #ffa500;
  --color-accent: #111;

  /* light */
}
.light {
  --color-back: hwb(0 100% 0%);
  --color-grow: #000000;
  --color-primary: #1919fe;
  --color-accent: #a3b7c5;
}
.trans{
  transition: all .3s linear;
}

/* skill marque */
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}
.marquee {
  white-space: nowrap;
  animation: marquee 20s linear infinite;
}
