@import "tailwindcss";

@theme {
  --color-back: #242424;
  --color-grow: #bbb;
  --color-primary: #ffa500;
  --color-accent: #111;

  /* light */
}
.light {
  --color-back: hsl(0, 0%, 100%);
  --color-grow: #000000;
  --color-primary: #1919fe;
  --color-accent: #cacaca;
}

/* loading */
@keyframes typing {
  0% {
    width: 0;
    opacity: 0;
  }
  50% {
    opacity: 1;
    width: 100%;
  }
  90% {
    opacity: 1;
    width: 100%;
  }
  100% {
    width: 0;
  }
}

/* Page Lodding */
.loding-Text {
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  animation: typing 3s steps(100, end) forwards;
}

/* skill marque */
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}
.marquee {
  white-space: nowrap;
  animation: marquee 20s linear infinite;
}
